<html>
	<head>
		<title> Sucesss!</title>
		<style type="text/css">
			body {background-color: cyan; }
		</style>
	</head>
	<body>
		<h1>You've reseved a <%= @room.type %> room from <%= @room.check_In_Date %> to <%= @room.check_Out_Date %> !</h1>
	</body>
</html>
